<section class="py-4 bg-light mb-4">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header">
            <h1><i class="bi-file-person"></i>{{TITULO}}</h1>
          </div>
          <div class="card-body">
            <form #empleadoForm="ngForm">

              <div class="input-group mb-3">
                <label class="input-group-text">Nombre</label>
                <input class="form-control" type="text" name="nombre" [(ngModel)]="empleado.nombre" />
                <span class="alert-danger input-group-text">errors?</span>
              </div>

              <div class="input-group mb-3">
                <label class="input-group-text">Apellido</label>
                <input class="form-control" type="text" #apellido="ngModel" name="apellido" required minlength="4"
                  [(ngModel)]="empleado.apellido" />
                <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                  <span class="alert-danger input-group-text" *ngIf="apellido.errors?.required">Apellido es
                    requerido</span>
                  <span class="alert-danger input-group-text" *ngIf="apellido.errors?.minlength">Debe tener 4 o mas
                    caracteres</span>
                </div>
                <div *ngIf="apellido.valid && apellido.touched">
                  <span class="alert-success input-group-text" *ngIf="apellido"><i class="bi bi-check"></i></span>
                  <span class="alert-success input-group-text" *ngIf="apellido.errors?.minlength">Debe tener 4 o mas
                    caracteres</span>
                </div>
              </div>

              <div class="input-group mb-3">
                <label class="input-group-text">DNI</label>
                <input class="form-control" type="text" name="dni" [(ngModel)]="empleado.dni" />
                <span class="alert-danger input-group-text">errors?</span>
              </div>

              <div class="input-group mb-3">
                <label class="input-group-text">Direccion</label>
                <input class="form-control" type="text" name="direccion" [(ngModel)]="empleado.direccion" />
                <span class="alert-danger input-group-text">errors?</span>
              </div>

              <div class="input-group mb-3">
                <label class="input-group-text">Fecha Nacimiento</label>
                <input class="form-control" type="text" name="fechaNacimiento" [(ngModel)]="empleado.fechaNacimiento" />
                <span class="alert-danger input-group-text">errors?</span>
              </div>

              <div class="input-group mb-3">
                <button class="btn btn-primary" [disabled]="!empleadoForm.form.valid" (click)="create()" *ngIf="!empleado.id else elseBlock">Crear</button>
                <ng-template #elseBlock>
                  <button class="btn btn-primary" [disabled]="!empleadoForm.form.valid" (click)="update()">Actualizar</button>
                </ng-template>
              </div>

            </form>



          </div>
        </div>
      </div>
    </div>
  </div>
</section>