<div class="card">
  <div class="card-header">
    <h1>Habitaciones</h1>
  </div>
  <div class="card-body">

    <div *ngIf="listaHabitaciones?.length ">
      <table class="table table-bordered table-striped">
        <caption>Tabla de habitaciones</caption>
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Numero ident</th>
            <th scope="col">nombre</th>
            <th scope="col">Tipo Habitacion</th>
            <th scope="col">Tematica</th>
            <th scope="col">Precio por noche</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let habitacion of listaHabitaciones">
            <td>{{habitacion.id}}</td>
            <td>{{habitacion.num_id}}</td>
            <td></td>
            <td>{{habitacion.tipo_hab?.nombre}}</td>
            <td>{{habitacion.tematica?.nombre}}</td>
            <td>{{habitacion.precio_noche}}</td>
          </tr>

        </tbody>
      </table>
    </div>
    <div *ngIf="!(listaHabitaciones?.length)">
      <p class="alertr alert-info">Lista Vacia</p>
    </div>
  </div>

</div>