<div class="card">
  <div class="card-header">
    <h1>Empleados</h1>
  </div>
  <div class="card-body">

    <div *ngIf="listaEmpleados?.length ">
      <table class="table table-bordered table-striped">
        <caption>Tabla de empleados</caption>
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">nombre</th>
            <th scope="col">apellido</th>
            <th scope="col">dni</th>
            <th scope="col">direccion</th>
            <th scope="col">Fecha de Nacimiento</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of listaEmpleados">
            <td><button class="btn btn-success" [routerLink]="['/empleados/detalle',empleado.id]">{{empleado.id}}</button> </td>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellido}}</td>
            <td>{{empleado.dni}}</td>
            <td>{{empleado.direccion}}</td>
            <td>{{empleado.fechaNacimiento}}</td>
            <td>
              <button class="btn btn-primary" type="submit" [routerLink]="['/empleados/altaEmpleados',empleado.id]"
                name="editar">Editar</button>
            </td>
            <td>
              <button class="btn btn-danger" type="submit" (click)="delete(empleado)" name="editar">Eliminar</button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
    <div *ngIf="!(listaEmpleados?.length)">
      <p class="alertr alert-info">Lista Vacia</p>
    </div>
    <app-paginator *ngIf="paginator" [paginator]="paginator"></app-paginator>
  </div>
</div>